$color-border: #e8e8e8;
$color-shadow: rgba(0, 0, 0, 0.15);
$color-background-10: #fafafa;
$color-background-11: #e5e5e5;
$color-background-12: #d6f2ff;
$color-background-13: #f2f8fd;


$prefix: Antd-Table-Virtualized;

.#{$prefix} {
  position: relative;
  border: 1px solid $color-border;

  &.Bordered {
    .Cell-Head {
      border-right: 1px solid transparent;
    }
    .Cell-Body {
      border-right: 1px solid $color-border;
    }
  }

  .Placeholder {
    z-index: 9;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
  }

  .Left-Grid-Wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    .Left-Top-Grid-Wrapper {
      overflow: hidden;
    }

    .Left-Bottom-Grid-Wrapper {
      overflow: hidden;
      background-color: #fff;
    }
  }

  .Middle-Grid-Wrapper {
    overflow: hidden;

    .Middle-Top-Grid-Wrapper {
      overflow: hidden;
    }

    .Middle-Bottom-Grid-Wrapper {
      background-color: #fff;
    }

  }

  .Right-Grid-Wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    .Right-Bottom-Grid-Wrapper {
      overflow: hidden;
      background-color: #fff;
    }
  }

  .Left-Top-Grid-Wrapper,
  .Middle-Top-Grid-Wrapper,
  .Right-Top-Grid-Wrapper {
    background-color: $color-background-10;
    
  }

  .Left-Top-Grid-Wrapper {
    &.With-Shadow {
      box-shadow: 6px 0 6px -4px $color-shadow;
    }
  }

  .Right-Top-Grid-Wrapper {
    &.With-Shadow {
      box-shadow: -6px 0 6px -4px $color-shadow;
    }
  }

  .Left-Grid-Wrapper {
    &.With-Shadow {
      box-shadow: 6px 0 6px -4px $color-shadow;
    }
  }

  .Right-Grid-Wrapper {
    &.With-Shadow {
      box-shadow: -6px 0 6px -4px $color-shadow;
    }
  }

  .Cell-Head {
    display: flex;
    align-items: center;
    padding-left: 15px;

    &.Sort {
      transition: background-color .3s;

      &:hover {
        transition: background-color .3s;
        background-color: $color-background-11;
        cursor: pointer;
      }
    }

    .Sortable-Wrapper {
      display: flex;
      align-items: center;

      .Content {
        padding-right: 4px;
      }

      .Icons {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        color: rgb(191, 191, 191);

        .Activated {
          color: #1890ff;
        }
      }
    }
  }

  .Cell-Body {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 5px;
    border-bottom: 1px solid $color-border;
    transition: background-color .3s;
    word-break: break-all;

    &.Ellipsis {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.Selected {
      background-color: #d3dce6;
    }

    &.Highlight:not(.Click-Highlight) {
      transition: background-color .3s;
      background-color: $color-background-12;
    }

    &.Click-Highlight {
      transition: background-color .3s;
      background-color: #c2e2ff;
    }

    &.Cell-Even:not(.Highlight):not(.Click-Highlight):not(.Selected) {
      background-color: $color-background-13;
    }

    .Ellipsis {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      > * {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .Pagination-Wrapper {
    width: calc(100% + 2px);
    display: flex;
    align-items: center;
  }
}