@import '~antd/dist/antd.css';


* {
  box-sizing: border-box;
}

html, body {
  /* height: 100%; */
}

body {
  padding-top: 20px
}

#root {
  /* height: 100%; */
}

.App {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 0 100px;
}
