@import '~antd/dist/antd.css';

body {
  padding-top: 20px
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 240px;
  padding: 0 100px;
}

.App .ant-table-wrapper {
  height: 500px;
}