@import '~antd/dist/antd.css';


* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 80%;
  padding: 20px 100px;
  overflow: auto;
}
